/*
 *
 * Documentation CSS
 * By Skitty
 *
 */

@import "resets.css";

html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

/*
 * Links
 */

a {
	color: #268bd2;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}


/*
 * Sidebar
 */

.sidebar {
	text-align: center;
	padding: 2rem 1rem;
	color: #000;
	background-color: rgba(0,0,0,.1);
	overflow-y: scroll;
}
@media (min-width: 48em) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 18rem;
		padding: 2rem 1.5rem;
		text-align: left;
	}
}

.sidebar p {
	margin-top: -20px;
	color: rgba(0,0,0,.5);
}

.sidebar .nav {
	margin-top: 10px;
}

/* Sidebar links */

.sidebar a {
	color: #000;
	display: block;
}

.sidebar .link {
	font-weight: bold;
}

.sidebar .section {
	font-weight: bold;
	margin-top: 20px;
}

.sidebar .section-link {
	color: rgba(0,0,0,.5);
}
.sidebar .section-link.active {
	color: rgba(0,0,0,.7);
}

.sidebar .section-sublink {
	color: rgba(0,0,0,.4);
}

@media (min-width: 48em) {
	.sidebar .section-link {
		margin-left: 20px;
	}
	.sidebar .section-sublink {
		margin-left: 40px;
	}
}

/*
 * Content
 */

.content {
	padding: 2rem;
	padding-bottom: 4rem;
	overflow-x: hidden;
	word-wrap: break-word;
	white-space: normal;
}

@media (min-width: 48em) {
	.content {
		margin-left: 19rem;
		padding-right: 2rem;
	}
}

@media (min-width: 64em) {
	.content {
		margin-left: 20rem;
		padding-right: 4rem;
	}
}

.content p {
	color: rgba(0,0,0,.7);
}

/*
 * Tables
 */

th, td {
	padding: 10px;
}

/*
 * Code
 */

pre.highlight {
	background-color: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 5px;
	padding: 10px;
}

code.highlighter-rouge {
	color: #ff3e5f;
}


/*
 * Dark mode
 */

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000;
		color: #fff;
	}
	.sidebar {
		background-color: rgba(255,255,255,.1);
		color: #fff;
	}
	.sidebar p {
		color: rgba(255,255,255,.5);
	}
	.sidebar a {
		color: #fff;
	}
	.sidebar .section-link {
		color: rgba(255,255,255,.5);
	}
	.sidebar .section-link.active {
		color: rgba(255,255,255,.7);
	}
	.sidebar .section-sublink {
		color: rgba(255,255,255,.4);
	}
	.content p {
		color: rgba(255,255,255,.7);
	}
	pre.highlight {
		background-color: rgba(255,255,255,.1);
		border: 1px solid rgba(255,255,255,.15);
	}
}
