<div class="sidebar">
	<div class="header">
		<h1>
			<a href="/">{{ site.title }}</a>
		</h1>
		<p>{{ site.description }}</p>
	</div>

	<div class="nav">
		<a class="link{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

		{% assign groups = site.docs | group_by: "category" %}
		{% for group in groups %}
			{% assign items = group.items %}
			{% for node in items %}
				{% if node.title == group.name %}
					<a class="section{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
				{%else%}
					<a class="section-link{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
					{% if page.url == node.url and node.sublinks %}
						{% for sublink in node.sublinks %}
							{% assign link = sublink | downcase | replace: " ", "-" | remove: "." | remove: "()" %}
							<a class="section-sublink" href="#{{ link }}">{{ sublink }}</a>
						{% endfor %}
					{% endif %}
				{%endif%}
			{%endfor%}
		{%endfor%}
	</div>
</div>